{% extends 'base.html' %}

{% block content %}
<div class="card p-4">
    <h2 class="mb-4">Order History</h2>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Timestamp</th>
                    <th>Total</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for o in orders %}
                <tr>
                    <td>#{{ o[0] }}</td>
                    <td>{{ o[2] }}</td>
                    <td>${{ "%.2f"|format(o[1]) }}</td>
                    <td><span class="badge bg-success">{{ o[3] }}</span></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}